<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Found Student</title>
    <link rel="stylesheet" th:href="@{/css/found.css}">
</head>
<body>
<nav>
    <div class="logo">
        <p>Hostel Management System</p>
    </div>
    <div class="tab">
        <p> <a th:href="@{/}">New Student</a> </p>
        <p>  <a th:href="@{/findForm}">Find Student</a></p>
    </div>
</nav>
<h2 style="color:red;">Student Record Not Found!!</h2>
</div>
</body>
</html>